
/* COLOURS */

$color-gradient-1: #686de0;
$color-gradient-2: #7ed6df;
$color-bg-overlay: rgba(0,0,0,.8);

/* SIZES */

$padd-edge: 80px;

$padd-big:    30px;
$padd-normal: 20px;
$padd-small:  15px;
$padd-tiny:   5px;

$radius-tiny: 10px;

$cross-normal: 50px;

$bg-blur: 15px;
